<div id="account-div">
<% if (title) { %>
    <h1 id="account-h"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>    
    <% messages() %>
    <% if (errors) { %>
      <ul class="notice2">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>
     <!-- <%#- classificationList %> this is usefull to pass functions and <%#= classificationList %> passes literal text not the value inside the function-->
    <div class="login-container">
      <form action="/inv/update" method="POST" id="updateForm">
        <fieldset>
          <legend>ALL FIELDS ARE REQUIRED</legend>
        <label id="drop-down">Classification: <%- classificationList %></label>
        <label>Make:<input type="text" name="inv_make" id="itemMake" required value="<%= inv_make %>"/></label>
        <label>Model:<input type="text" name="inv_model" id="invModel" required value="<%= inv_model %>"/></label>
        <label>Description:<textarea cols="7" rows="10" name="inv_description" required><%= inv_description %></textarea></label>
        <label>Image Path:<input type="text" name="inv_image" id="invImage" required value="/images/vehicles/no-image.png"/></label>
        <label>Thumbnail:<input type="text" name="inv_thumbnail" id="invThumbnail" required value="/images/vehicles/no-image.png"/></label>
        <label>Price:<input type="text" name="inv_price" id="invPrice" placeholder="decimal or integer" required pattern="^\d+(\.\d{1,2})?$" title="Please enter a valid price (e.g., 100 or 100.00)" value="<%= inv_price %>"/></label>
        <label>Year:<input type="text" name="inv_year" id="invYear" placeholder="4-digits year" required pattern="^\d{4}$" title="Please enter a valid 4-digit year (e.g., 2024)" value="<%= inv_year %>"/></label>
        <label>Miles:<input type="text" name="inv_miles" id="invMiles" placeholder="digits only" required pattern="^\d+$" title="Please enter digits only for miles" value="<%= inv_miles %>"/></label>
        <label>Color:<input type="text" name="inv_color" id="invColor" required value="<%= inv_color %>"/></label>
      </fieldset>
      <button type="submit" disabled>Update Vehicle</button>
      <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
      </form>
    </div>
  </div>

<script src="../../js/inv-update.js"></script>